body.moving {
  overflow: hidden;
}

.container {
  position: absolute;
  margin: 10px;
  width: 300px;
  height: 300px;
  background-color: lightgray;
}

.movable {
  position: absolute;
  padding: 1.5em;
  border: 1px solid black;
  user-select: none;
  white-space: nowrap;
}

.handle {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  cursor: grab;
  width: 1em;
  height: 1em;
  top: .5em;
  left: .5em;
}
