body.moving {
  overflow: hidden;
}

.container {
  position: absolute;
  margin: 10px;
  width: 300px;
  height: 100px;
  background-color: lightgray;
}

.movable {
  position: absolute;
  height: 98px;
  line-height: 100px;
  padding: 0 5px;
  border: 1px solid black;
  cursor: grab;
  user-select: none;
  white-space: nowrap;
}
