.container {
  position: relative;
  margin-top: 10;
  margin-left: 10;
  width: 300;
  height: 300;
  background-color: "lightgrey";
}

.handle {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  top: .5em;
  left: .5em;
}